<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Photo">

	<insert id="insert" parameterType="Photo">
		insert into photo(title, filename) values(#{title}, #{filename})
		<selectKey order="AFTER" keyProperty="photo_id" keyColumn="photo_id" resultType="int">
			select last_insert_id() as photo_id
		</selectKey>
	</insert>

</mapper>