<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.koreait.bootapp0208.model.domain.Board" 	alias="Board"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/BoardMapper.xml"/>
	</mappers>
	
</configuration>